@tailwind base;
@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  p {
    @apply text-xl;
  }
}
@tailwind components;
.swiper-slide img {
  display: block;
  width: 806.03px !important;
  height: 296px !important;
  margin:0 auto;
}

@tailwind utilities;
@layer utilities {
  .swiper-slide img {
    width: 806.03px !important;
    height: 296px !important;
  }
}